{{define "mgc/button"}}
{{if .Component.Attr.GetValue "href"}}
  {{if .Component.IsDisabled}}
    <span {{range .Component.Attr}}{{.SafeName}}="{{.Value}}" {{end}}
      class="{{.Component.Classes.Render}}"
      {{if .Component.GetValue}}value="{{.Component.GetValue}}"{{end}}
      >{{.Component.GetLabel}}</span>
  {{else}}
    <a {{range .Component.Attr}}{{.SafeName}}="{{.Value}}" {{end}}
      class="{{.Component.Classes.Render}}"
      {{if .Component.GetValue}}value="{{.Component.GetValue}}"{{end}}
      >{{.Component.GetLabel}}</a>
  {{end}}
{{else}}
  <button type="{{.Component.GetType}}"
    {{range .Component.Attr}}{{.SafeName}}="{{.Value}}" {{end}}
    class="{{.Component.Classes.Render}}"
    {{if .Component.GetValue}}value="{{.Component.GetValue}}"{{end}}
    >{{.Component.GetLabel}}</button>
{{end}}
{{end}}
