{{define "button"}}
{{if .Component.Attr.GetValue "href"}}
  <a {{range .Component.Attr}}{{.Render}} {{end}}
    class="{{.Component.Classes.Render}}"
    {{if .Component.GetValue}}value="{{.Component.GetValue}}"{{end}}
    >{{.Component.GetLabel}}</a>
{{else}}
  <button type="{{.Component.GetType}}"
    {{range .Component.Attr}}{{.Render}} {{end}}
    class="{{.Component.Classes.Render}}"
    {{if .Component.GetValue}}value="{{.Component.GetValue}}"{{end}}
    >{{.Component.GetLabel}}</button>
{{end}}
{{end}}
