{{define "mgc/form_input_file"}}
<div
  {{range .Component.Attr}}{{.Render}} {{end}}
  class="mdl-textfield mdl-js-textfield custom-inputfile custom-js-inputfile
  {{if .Component.GetError}}is-invalid{{end}}
  {{if not .Component.IsPlaceHolderOnly}}mdl-textfield--floating-label{{end}}
  {{.Component.Classes.Render}}">

  <input
    {{range .Component.InputAttr}}{{.Render}}{{end}}
    class="mdl-textfield__input {{.Component.InputClasses.Render}}"
    value="{{.Component.InputTextValue}}"
     />

  <label>
    <div class="mdl-button mdl-button--icon">
      <i class="material-icons">{{.Component.AttachIcon}}</i>
      <i class="material-icons custom-clearbutton">{{.Component.ClearIcon}}</i>
    </div>
    <input
      {{range .Component.InputFileAttr}}{{.Render}}{{end}}
      type="file"
     />
  </label>

  <label class="mdl-textfield__label" for="{{.Component.GetId}}">{{.Component.GetLabel}}</label>
  <span class="mdl-textfield__error">{{.Component.GetError}}</span>
</div>
{{end}}
