{{define "mgc/form_hidden"}}
  <input
    {{range .Component.Attr}}{{.SafeName}}="{{.Value}}" {{end}}
    class="{{.Component.Classes.Render}}"
    type="{{.Component.GetType}}"
    name="{{.Component.GetName}}"
    value="{{.Component.GetValue}}"
  />
{{end}}
