{{define "form_switch"}}
<label
  {{range .Component.Attr}}{{.Render}} {{end}}
  class="mdl-switch mdl-js-switch {{.Component.Classes.Render}}"
  for="{{.Component.GetId}}">
  <input
  {{range .Component.InputAttr}}{{.Render}}{{end}}
  type="checkbox"
  class="mdl-switch__input {{.Component.InputClasses.Render}}"
  {{if .Component.Option.IsChecked}}checked="checked"{{end}}
  >
  <span class="mdl-switch__label">{{.Component.Option.GetLabel}}</span>
</label>
{{end}}
