{{define "form_checkbox"}}
  <label
  {{range .Component.Attr}}{{.Render}} {{end}}
  class="mdl-checkbox mdl-js-checkbox {{.Component.Classes.Render}}"
  for="{{.Component.GetId}}">
    <input
    {{range .Component.InputAttr}}{{.Render}}{{end}}
    type="{{.Component.GetType}}"
    {{if .Component.Option.GetValue}}value="{{.Component.Option.GetValue}}"{{end}}
    class="mdl-checkbox__input {{.Component.InputClasses.Render}}"
    {{if .Component.Option.IsChecked}}checked="checked"{{end}}
    />
    <span class="mdl-checkbox__label">{{.Component.Option.GetLabel}}</span>
  </label>
{{end}}
