{{define "mgc/form"}}
  <form
    {{range .Component.Attr}}{{.SafeName}}="{{.Value}}" {{end}}
    class="{{.Component.Classes.Render}}">
    {{range .Component.GetComponents}}
      {{.Render}}
    {{end}}
  </form>
{{end}}
