{{define "mgc/pagination"}}
<div {{range .Component.Attr}}{{.SafeName}}="{{.Value}}" {{end}}
  class="{{.Component.Classes.Render}}">

  {{.Component.BtPrev.Render}}

  {{.Component.GoToText}}
  {{.Component.Select.Render}}
  / {{.Component.GetPagesCnt}}

  {{.Component.BtNext.Render}}
</div>
{{end}}
