{{define "mgc/tag"}}
  {{.Component.OpenTag}}
    {{range .Component.Attr}}{{.SafeName}}="{{.Value}}" {{end}}
    class="{{.Component.Classes.Render}}"
    {{.Component.OpenTagClose}}
  {{range .Component.Components}}
    {{.Render}}
  {{end}}
  {{.Component.CloseTag}}
{{end}}
